{{ define "main" }}
<h1>About</h1>
<br>
<div style="display: flex; align-items: flex-start; gap: 10px;">
  <!-- Your Image and Social Links -->
  <div style="flex-shrink: 0; text-align: left;">
    <img src="/images/my-image.jpg" alt="Natthanan Bhukan" style="width: 150px; height: auto; margin-bottom: 10px;">
    <p style="margin-top: 10px;">
      <!-- GitHub Icon -->
      <a href="https://github.com/RTae" target="_blank" title="GitHub" style="text-decoration: none; display: block; margin-bottom: 10px;">
        <img class="github-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub" style="width: 24px; height: 24px; vertical-align: middle;"> GitHub
      </a>

      <!-- LinkedIn Icon -->
      <a href="https://www.linkedin.com/in/natthananbhukan/" target="_blank" title="LinkedIn" style="text-decoration: none; display: block; margin-bottom: 10px;">
        <img class="linkedin-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg" alt="Linkedin" style="width: 24px; height: 24px; vertical-align: middle;"> LinkedIn
      </a>

      <a href="/files/my-cv.pdf" target="_blank" title="CV" style="text-decoration: none; display: block; margin-top: 10px;">
        <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="CV" style="width: 24px; height: 24px; vertical-align: middle;"> CV
      </a>
    </p>
  </div>

  <!-- Introduction Text -->
  <div style="margin-top: 0; margin-left: 20px;">
    <!-- Name and Title -->
    <h1 style="margin-top: 0;">Natthanan Bhukan</h1>

    <p>
      Hi there 🌟, my name is Natthanan Bhukan, or you can call me "Tae". Currently, I am working as a machine learning engineer at CJ Express Group to develop a machine learning system in the retail sector. 
      I graduated from King Mongkut's University of Technology Thonburi.
    </p>
    <p>
      My research interests focus on developing efficient system support to optimize AI applications within the system and algorithm.
    </p>
  </div>
</div>

<h1>Research Papers</h1>
<ul class="styled-list">
  {{ with .Site.GetPage "/research-papers" }}
    {{ range (sort .Pages "Date" "desc") }}
      <li>
        <div class="paper">
          {{ if eq .Params.status "Being review" }}
            <span class="paper-title">{{ .Title }}</span>
            <p><em>{{ .Params.journal }}</em> ({{ .Params.status }})</p>
          {{ else }}
            <a href="{{ .Params.external_url }}" class="paper-title" target="_blank">{{ .Title }}</a>
            <p><em>{{ .Params.journal }}</em> ({{ .PublishDate.Format "01-2006" }})</p>
          {{ end }}
          <p class="authors">
            {{ range (split .Params.authors ",") }}
              {{ if (eq . "Natthanan Bhukan") }}<u><strong>{{ . }}</strong></u>{{ else }}{{ . }}{{ end }},
            {{ end }}
          </p>
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>


<h1>Experience</h1>
<ul class="styled-list">
  {{ with .Site.GetPage "/experience" }}
    {{ range (sort .Pages "Params.start_date" "desc") }}
      <li>
        <div class="experience-item">
          <h2>
            <span class="title">{{ .Title }}</span> | {{ .Params.location }} | {{ .Params.start_date }} to {{ if .Params.end_date }}{{ .Params.end_date }}{{ else }}Current{{ end }}
          </h2>
          <p class="role"><strong>{{ .Params.role }}</strong></p>
          <ul class="achievements">
            {{ range .Params.achievements }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>

<h1>Awards and Honors</h1>
<div class="posts-list">
{{ with .Site.GetPage "/awards" }}
    {{ range first 4 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="experience-item">
            <p>
                <div class="date">{{ .PublishDate.Format "01-2006" }}</div>
                <h2>
                  <span class="title">{{ .Title }}</span>, {{ .Params.location }}
                </h2>
            </p>
        </div>
    {{ end }}
{{ end }}
</div>

<h1>Articles</h1>
<div class="posts-list">
{{ with .Site.GetPage "/articles" }}
    {{ range first 4 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "01-2006" }}</div>
                <h1><a href="{{ .Params.external_url }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Public speaking events</h1>
<div class="posts-list">
{{ with .Site.GetPage "/events" }}
    {{ range first 4 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Projects</h1>
<div class="posts-list">
{{ with .Site.GetPage "/projects" }}
    {{ range first 4 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
            {{ if .Params.github }}
                <p>
                    <a href="{{ .Params.github }}" target="_blank" title="GitHub Repository">
                        <img class="github-icon" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" alt="GitHub"> Repository
                    </a>
                </p>
            {{ end }}
        </div>    
    {{ end }}
{{ end }}
</div>


<style>
/* Custom styling for the experience page */
.styled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.styled-list li {
  margin-bottom: 25px; /* Adds consistent space between job entries */
}

.paper-title {
  font-weight: bold;
}

.paper-title a {
  color: #007bff;
  text-decoration: none;
}

.paper-title a:hover {
  text-decoration: underline;
}

.paper-title span {
  color: #222;
  font-style: italic; /* Optional styling for "under review" text */
}

.experience-item h2 {
  font-weight: normal; /* Bold styling for the Title (company name) */
  margin: 5px 0;
}

.experience-item .title {
  font-weight: bold; /* Bold styling for the Title (company name) */
}

.role {
  font-size: 1em;
  color: #333;
  margin: 10px 0;
}

.achievements {
  list-style: disc;
  margin-left: 20px;
  padding: 0;
}

.achievements li {
  font-size: 0.95em;
  margin-bottom: 8px;
  line-height: 1.6;
}

/* Default icon styling */
.github-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  transition: filter 0.3s ease;
}

/* Apply a filter for GitHub icon in dark mode */
@media (prefers-color-scheme: dark) {
  .github-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
  }
}

/* Default LinkedIn styling (no changes for dark mode) */
.linkedin-icon {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}
</style>

  
</style>
  
{{ end }}